<div>
  <nav class="text-base" style="font-family: overlock, sans-serif;">
    <ul class="flex w-full text-center space-x-px">
      <li class="flex-grow bg-gray-100 group">
        <a class="block p-2 hover:bg-gray-900 hover:text-white" href="/">
          HOME
        </a>
      </li>
      <li class="flex-grow bg-gray-100 group">
        <a class="block p-2 hover:bg-gray-900 hover:text-white" href="/about">About</a>
      </li>
      <li class="flex-grow bg-gray-100 group relative"
        x-data="{open: false}"
        @mouseover="open = true"
        @mouseover.away="open = false"
        >
        <span class="block p-2 hover:bg-gray-900 hover:text-white">Metal Products</span>
        <ul class="absolute top-full w-full bg-white shadow"
          x-show="open"
          x-transition.opacity
          x-transition:leave.delay.500ms
          >
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/alloysteel/">Alloy Steel</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/aluminum-sheets-bars-strips/">Aluminum</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/aluminum-foil-rolls/">Aluminum Foil</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/brass/">Brass</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/bronze/">Bronze</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/burnouts/">Burnouts</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/carbide/">Carbide</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/castiron/">Cast Iron</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/ceramics/">Ceramics</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/coldrolledsteel/">Cold Rolled Steel</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/copper/">Copper</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/diamond-plate/">Diamond Plate</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/drill-rod/">Drill Rod</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/expanded-metal/">Expanded Metal</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/feeler-gage/">Feeler Gage</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/grating/">Grating</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/grind-shop/">Grind Shop</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/ground-flat-stock/">Ground Flat Stock</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/ground-plate/">Ground Plate</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/high-speed-steel/">High Speed Steel</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/hot-rolled-steel/">Hot Rolled Steel</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/blank-c1olp/">Keystock</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/lead/">Lead</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/magnesium/">Magnesium</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/metal-finishing/">Metal Finishing</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/metric/">Metric</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/molybdenum/">Molybdenum</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/nickel/">Nickel</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/perforatedmetal/">Perforated Metal</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/plastics/">Plastics</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/rubber/">Rubber</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/shafting/">Shafting</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/shim-stock/">Shim Stock</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/spring-steel/">Spring Steel</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/stainless-steel/">Stainless Steel</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/strip-steel/">Strip Steel</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/stripper-plate/">Stripper Plate</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/structural-steel/">Structural Steel</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/threaded-rod/">Threaded Rod</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/tin/">Tin</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/titanium/">Titanium</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/tool-steel/">Tool Steel</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/copy-of-tubing/">Tubing</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/wax/">Wax</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/wire/">Wire</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/wire-cloth/">Wire Cloth</a></li>
          <li><a class="block p-1 hover:bg-gray-900 hover:text-white" href="/zinc/">Zinc</a></li>
        </ul>
      </li>
      <li class="flex-grow bg-gray-100 group">
        <a class="block p-2 hover:bg-gray-900 hover:text-white" href="/product-line-card/">
          Industrial Products
        </a>
      </li>
      <li class="flex-grow bg-gray-100 group">
        <a class="block p-2 hover:bg-gray-900 hover:text-white" href="/services/">
          Services
        </a>
      </li>
      <li class="flex-grow bg-gray-100 group">
        <a class="block p-2 hover:bg-gray-900 hover:text-white" href="/contact-us/">
          Contact Us
        </a>
      </li>
      <li class="flex-grow bg-gray-100 group">
        <a class="block p-2 hover:bg-gray-900 hover:text-white" href="/line-cards/">
          Line Cards
        </a>
      </li>
      <li class="flex-grow bg-gray-100 group">
        <a class="block p-2 hover:bg-gray-900 hover:text-white" href="/blog/">
          Blog
        </a>
      </li>
    </ul>
  </nav>
</div>