<link rel="icon" sizes="192x192" href="/_www/static.wixstatic.com/media/174d7f_e5b3b856e71044b690ef48bbd3c45ab5~mv2.png/v1/fill/w_32,h_32,lg_1,usm_0.66_1.00_0.01/174d7f_e5b3b856e71044b690ef48bbd3c45ab5~mv2.png">
<link rel="shortcut icon" href="/_www/static.wixstatic.com/media/174d7f_e5b3b856e71044b690ef48bbd3c45ab5~mv2.png/v1/fill/w_32,h_32,lg_1,usm_0.66_1.00_0.01/174d7f_e5b3b856e71044b690ef48bbd3c45ab5~mv2.png" type="image/png">
<link rel="apple-touch-icon" href="/_www/static.wixstatic.com/media/174d7f_e5b3b856e71044b690ef48bbd3c45ab5~mv2.png/v1/fill/w_32,h_32,lg_1,usm_0.66_1.00_0.01/174d7f_e5b3b856e71044b690ef48bbd3c45ab5~mv2.png" type="image/png">

<!-- Safari Pinned Tab Icon -->
<!-- <link rel="mask-icon" href="https://static.wixstatic.com/media/174d7f_e5b3b856e71044b690ef48bbd3c45ab5%7Emv2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/174d7f_e5b3b856e71044b690ef48bbd3c45ab5%7Emv2.png"> -->
