<footer tabindex="-1" id="SITE_FOOTER_WRAPPER">
  <div id="pinnedBottomCenter">
    <div id="comp-k7kr5p7r-pinned-layer" class="_2oJTp">
      <div id="comp-k7kr5p7r" style="display:none"></div>
    </div>
  </div>
  <div id="SITE_FOOTER" class="_26XlU">
    <div class="dmysR">
      <div class="kvZ7q"></div>
    </div>
    <div class="_2_pp6">
      <div class="_1DMOb">
        <div class="mtROD"></div>
      </div>
      <div class="_1MBwI">
        <div data-mesh-id="SITE_FOOTERinlineContent" data-testid="inline-content" class="">
          <div data-mesh-id="SITE_FOOTERinlineContent-gridContainer" data-testid="mesh-container-content">
            <div id="comp-jcuo4mcs" class="_2bafp" data-testid="richTextElement">
              <h6 class="font_6" style="font-size:14px; text-align:center">&nbsp;</h6>

              <h6 class="font_6" style="font-size:16px; text-align:center"><span style="font-size:16px"><span style="font-family:nimbus-sans-tw01con,sans-serif"><span style="color:#051C24">All Rights Reserved 2021<br>
                      ​Nolan's Mill &amp; Metal, a Midway Company<br>
                      ​107 Twin Oaks Drive PO Box 134<br>
                      Syracuse, NY 13206-0134</span></span></span></h6>
            </div>
            <div id="comp-jdc1hb0y" aria-disabled="false" class="_2btH0"><a data-testid="linkElement" data-anchor="SCROLL_TO_TOP" href="#SCROLL_TO_TOP" target="_self" class="_2k7xj"><span class="nr31w">Back to Top</span></a></div>
            <div id="SITE_STRUCTURE_LinkBar_0" class="_1m93a">
              <ul class="PE8t5" aria-label="Social Bar">
                <li id="component_items_0_10902-SITE_STRUCTURE_LinkBar_0" class="_2-pBe"><a data-testid="linkElement" href="https://www.facebook.com/NolansMillandMetal/" target="_blank" rel="noopener" class="fNVUF">
                    <wix-image id="img_0_SITE_STRUCTURE_LinkBar_0" class="rca7A _21zrA" data-image-info="{&quot;containerId&quot;:&quot;component_items_0_10902-SITE_STRUCTURE_LinkBar_0&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:199,&quot;height&quot;:199,&quot;uri&quot;:&quot;ce6ec7c11b174c0581e20f42bb865ce3.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;quality&quot;:{&quot;quality&quot;:90,&quot;unsharpMask&quot;:{&quot;radius&quot;:0,&quot;amount&quot;:0,&quot;threshold&quot;:0}}}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/ce6ec7c11b174c0581e20f42bb865ce3.png/v1/fill/w_84,h_84,al_c,q_95/ce6ec7c11b174c0581e20f42bb865ce3.webp"><img alt="Facebook" src="https://static.wixstatic.com/media/ce6ec7c11b174c0581e20f42bb865ce3.png/v1/fill/w_84,h_84,al_c,q_95/ce6ec7c11b174c0581e20f42bb865ce3.webp" style="width: 42px; height: 42px; object-fit: cover;"></wix-image>
                  </a></li>
                <li id="image1ik7-SITE_STRUCTURE_LinkBar_0" class="_2-pBe"><a data-testid="linkElement" href="https://www.linkedin.com/company-beta/11075669/" target="_blank" rel="noopener" class="fNVUF">
                    <wix-image id="img_1_SITE_STRUCTURE_LinkBar_0" class="rca7A _21zrA" data-image-info="{&quot;containerId&quot;:&quot;image1ik7-SITE_STRUCTURE_LinkBar_0&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:198,&quot;height&quot;:198,&quot;uri&quot;:&quot;8efda6398c724b5ea342287bfe3f5ed0.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;quality&quot;:{&quot;quality&quot;:90,&quot;unsharpMask&quot;:{&quot;radius&quot;:0,&quot;amount&quot;:0,&quot;threshold&quot;:0}}}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/8efda6398c724b5ea342287bfe3f5ed0.png/v1/fill/w_84,h_84,al_c,q_95/8efda6398c724b5ea342287bfe3f5ed0.webp"><img alt="LinkedIn" src="https://static.wixstatic.com/media/8efda6398c724b5ea342287bfe3f5ed0.png/v1/fill/w_84,h_84,al_c,q_95/8efda6398c724b5ea342287bfe3f5ed0.webp" style="width: 42px; height: 42px; object-fit: cover;"></wix-image>
                  </a></li>
                <li id="imageeh9-SITE_STRUCTURE_LinkBar_0" class="_2-pBe"><a data-testid="linkElement" href="https://twitter.com/nolansmillmetal" target="_blank" rel="noopener" class="fNVUF">
                    <wix-image id="img_2_SITE_STRUCTURE_LinkBar_0" class="rca7A _21zrA" data-image-info="{&quot;containerId&quot;:&quot;imageeh9-SITE_STRUCTURE_LinkBar_0&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:199,&quot;height&quot;:199,&quot;uri&quot;:&quot;444f49eac2e348f89128293b0c6432fd.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;quality&quot;:{&quot;quality&quot;:90,&quot;unsharpMask&quot;:{&quot;radius&quot;:0,&quot;amount&quot;:0,&quot;threshold&quot;:0}}}}" data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/444f49eac2e348f89128293b0c6432fd.png/v1/fill/w_84,h_84,al_c,q_95/444f49eac2e348f89128293b0c6432fd.webp"><img alt="Twitter" src="https://static.wixstatic.com/media/444f49eac2e348f89128293b0c6432fd.png/v1/fill/w_84,h_84,al_c,q_95/444f49eac2e348f89128293b0c6432fd.webp" style="width: 42px; height: 42px; object-fit: cover;"></wix-image>
                  </a></li>
              </ul>
            </div>
            <div id="comp-jgcpd8fy" class="_5Qy4u _2ws69" title=""><a data-testid="linkElement" href="https://www.google.com/search?source=hp&amp;ei=SiPeWoaIFeOc_Qaay5aoCQ&amp;q=nolan%27s+mill+%26+metal&amp;oq=nolan%27s+mill+%26+metal&amp;gs_l=psy-ab.3..0j38.3584.6372.0.6562.20.19.0.1.1.0.119.1511.18j1.19.0....0...1c.1.64.psy-ab..0.20.1519...46j0i131k1j0i46k1j0i22i30k1j0i22i10i30k1.0.IvMWH8tP4t8#lrd=0x89d9f298db377565:0x21d0f94d911c4537,3,,," target="_blank" rel="noopener" class="_17fP5">
                <wix-image id="img_comp-jgcpd8fy" class="rca7A _3TitU" data-image-info="{&quot;containerId&quot;:&quot;comp-jgcpd8fy&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:800,&quot;height&quot;:800,&quot;uri&quot;:&quot;174d7f_29487398363146c083a63c581ea5f627~mv2.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;quality&quot;:{&quot;quality&quot;:90,&quot;unsharpMask&quot;:{&quot;radius&quot;:0,&quot;amount&quot;:0,&quot;threshold&quot;:0}}}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/174d7f_29487398363146c083a63c581ea5f627~mv2.png/v1/fill/w_184,h_184,al_c,q_95/174d7f_29487398363146c083a63c581ea5f627~mv2.webp"><img src="https://static.wixstatic.com/media/174d7f_29487398363146c083a63c581ea5f627~mv2.png/v1/fill/w_184,h_184,al_c,q_95/174d7f_29487398363146c083a63c581ea5f627~mv2.webp" alt="" style="width: 92px; height: 92px; object-fit: cover; object-position: 50% 50%;"></wix-image>
              </a></div>
            <div id="comp-klgy3y2v" class="_5Qy4u _2ws69" title=""><a data-testid="linkElement" href="http://nolansmillandmetal.com" target="_self" rel="" class="_17fP5">
                <wix-image id="img_comp-klgy3y2v" class="rca7A _3TitU" data-image-info="{&quot;containerId&quot;:&quot;comp-klgy3y2v&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:2100,&quot;height&quot;:525,&quot;uri&quot;:&quot;174d7f_0cf7d88729ce4b20893499703f8dbf9d~mv2.png&quot;,&quot;name&quot;:&quot;MidwayNolanforwebsite.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;quality&quot;:{&quot;quality&quot;:90,&quot;unsharpMask&quot;:{&quot;radius&quot;:0,&quot;amount&quot;:0,&quot;threshold&quot;:0}}}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/174d7f_0cf7d88729ce4b20893499703f8dbf9d~mv2.png/v1/fill/w_672,h_160,al_c,q_95/MidwayNolanforwebsite.webp"><img src="https://static.wixstatic.com/media/174d7f_0cf7d88729ce4b20893499703f8dbf9d~mv2.png/v1/fill/w_672,h_160,al_c,q_95/MidwayNolanforwebsite.webp" alt="MidwayNolanforwebsite.png" style="width: 336px; height: 80px; object-fit: cover; object-position: 50% 50%;"></wix-image>
              </a></div>
            <div id="comp-k2dm1a4q" class="_5Qy4u" title="">
              <div data-testid="linkElement" class="_17fP5">
                <wix-image id="img_comp-k2dm1a4q" class="rca7A _3TitU" data-image-info="{&quot;containerId&quot;:&quot;comp-k2dm1a4q&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:906,&quot;height&quot;:592,&quot;uri&quot;:&quot;174d7f_f178e6f1ce85496c88fc186e6c262314~mv2.png&quot;,&quot;name&quot;:&quot;creditcards_color.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;quality&quot;:{&quot;quality&quot;:90,&quot;unsharpMask&quot;:{&quot;radius&quot;:0,&quot;amount&quot;:0,&quot;threshold&quot;:0}}}}" data-bg-effect-name="" data-is-svg="false" data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src="" data-src="https://static.wixstatic.com/media/174d7f_f178e6f1ce85496c88fc186e6c262314~mv2.png/v1/fill/w_210,h_126,al_c,q_95/creditcards_color.webp"><img src="https://static.wixstatic.com/media/174d7f_f178e6f1ce85496c88fc186e6c262314~mv2.png/v1/fill/w_210,h_126,al_c,q_95/creditcards_color.webp" alt="creditcards_color.png" style="width: 105px; height: 63px; object-fit: cover; object-position: 50% 50%;"></wix-image>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>