<div id="pinnedTopRight">
  <div id="comp-jqr0l27p-pinned-layer" class="_2oJTp">
    <div id="comp-jqr0l27p" class="_3ucik">
      <div class="_15Xjo" data-testid="container-bg"></div>
      <div data-mesh-id="comp-jqr0l27pinlineContent" data-testid="inline-content" class="">
        <div data-mesh-id="comp-jqr0l27pinlineContent-gridContainer" data-testid="mesh-container-content">
          <div id="comp-jqr0og8i" class="_2bafp" data-testid="richTextElement">
            <h6 class="font_6" style="font-size: 18px; text-align: center;"><span style="font-size:18px;"><span style="color:#324158"><span style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif">Request For Quote</span></span></span></h6>
          </div>
          <div id="comp-jqgq1z7j" class="_15Ac9">
            <div data-mesh-id="comp-jqgq1z7jinlineContent" data-testid="inline-content" class="">
              <div data-mesh-id="comp-jqgq1z7jinlineContent-gridContainer" data-testid="mesh-container-content">
                <form id="comp-kebvkcbq" class="_2Jusq">
                  <div data-mesh-id="comp-kebvkcbqinlineContent" data-testid="inline-content" class="">
                    <div data-mesh-id="comp-kebvkcbqinlineContent-gridContainer" data-testid="mesh-container-content">
                      <div id="comp-kebvkcbv" class="_1FsS0 _19QH-">
                        <div class="ABx0f"><input type="text" name="name-*" id="input_comp-kebvkcbv" class="_3rh7f has-custom-focus" value="" placeholder="Name *" required="" maxlength="100" aria-label="Name *"></div>
                      </div>
                      <div id="comp-kebvkcbz" class="_1FsS0 _19QH-">
                        <div class="ABx0f"><input type="email" name="email-*" id="input_comp-kebvkcbz" class="_3rh7f has-custom-focus" value="" placeholder="Email *" required="" pattern="^.+@.+\.[a-zA-Z]{2,63}$" maxlength="250" aria-label="Email *"></div>
                      </div>
                      <div id="comp-kebvkcc3" class="_1FsS0 _19QH-">
                        <div class="ABx0f"><input type="tel" name="phone-*" id="input_comp-kebvkcc3" class="_3rh7f has-custom-focus" value="" placeholder="Phone *" required="" maxlength="50" aria-label="Phone *"></div>
                      </div>
                      <div id="comp-kebvkcc7" class="_1FsS0">
                        <div class="ABx0f"><input type="text" name="company" id="input_comp-kebvkcc7" class="_3rh7f has-custom-focus" value="" placeholder="Company" maxlength="250" aria-label="Company"></div>
                      </div>
                      <div id="comp-kebvkcca1" class="_1FsS0 _19QH-">
                        <div class="ABx0f"><input type="text" name="subject-*" id="input_comp-kebvkcca1" class="_3rh7f has-custom-focus" value="" placeholder="Subject *" required="" aria-label="Subject *"></div>
                      </div>
                      <div id="comp-kebvkcce1" class="_1VpqH"><label for="textarea_comp-kebvkcce1" class="lW_XI"></label><textarea id="textarea_comp-kebvkcce1" class="_2Brtg has-custom-focus" placeholder="Details of Your Request"></textarea></div>
                      <div id="comp-kebvkcci" aria-disabled="false" class="_2btH0"><button data-testid="buttonElement" class="_2k7xj"><span class="nr31w">Send</span></button></div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>